NEXT_PUBLIC_AGENT_API_URL=http://localhost:8787
NEXT_PUBLIC_RPC_URL=https://eth-sepolia.g.alchemy.com/v2/CKaBUdjDAQpKoSMHn5ie3
NEXT_PUBLIC_POOL_ADDRESS=0x876A0741223EDdaE081Ef22beA513E92335B1Bd5
NEXT_PUBLIC_CHAIN_ID=11155111
NEXT_PUBLIC_PROJECT_ID=1
NEXT_PUBLIC_ROUND_ID=1